<h1>Rejestracja</h1>
<form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
    <label for="username">Nazwa użytkownika</label>
    <input type="text" formControlName="username" id="username">
    @if (registerForm.get("username")?.errors?.["backend"]) {
        @for (error of registerForm.get("username")?.errors?.["backend"]; track error) {
            <p>{{ error }}</p>
        }
    }
    <label for="email">Adres email</label>
    <input type="email" formControlName="email" id="email">
    @if (registerForm.get("email")?.errors?.["backend"]) {
        @for (error of registerForm.get("email")?.errors?.["backend"]; track error) {
            <p>{{ error }}</p>
        }
    }
    <label for="password">Hasło</label>
    <input type="password" formControlName="password" id="password">
    @if (registerForm.get("password")?.errors?.["backend"]) {
        <ul>
            @for (error of registerForm.get("password")?.errors?.["backend"]; track error) {
                <li>{{ error }}</li>
            }
        </ul>
    }
    <label for="confirm_password">Potwierdź hasło</label>
    <input type="password" formControlName="confirm_password" id="confirm_password">
    @if (registerForm.get("confirm_password")?.errors?.["backend"]) {
        @for (error of registerForm.get("confirm_password")?.errors?.["backend"]; track error) {
            <p>{{ error }}</p>
        }
    }
    <button type="submit">Zarejestruj się</button>
</form>
<a routerLink="/login">Logowanie</a>